/* Header section */
.blog-post-header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    
    padding: 112px 64px;
    position: relative;
    overflow: hidden;
}

.blog-post-header .content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
    margin-left: 0px;
    margin-right: -65px;
}

.blog-post-header .header {
    display: flex;
    flex-direction: column;
    width: 768px;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
    background-color: transparent;
}

.blog-post-header .div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
}

.blog-post-header .div-2 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.blog-post-header .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Zen Maru Gothic";
    font-weight: 700;
    color: black;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0px;
    line-height: 140%;
    white-space: nowrap;
    font-style: normal;
}

.blog-post-header .icon {
    position: relative;
    width: 16px;
    height: 16px;
}

.blog-post-header .blog-title-heading {
    position: relative;
    align-self: stretch;
    font-family: "FSP Demo - Imagist";
    font-weight: var(--heading-h2-font-weight);
    color: var(--black);
    font-size: var(--heading-h2-font-size);
    letter-spacing: var(--heading-h2-letter-spacing);
    line-height: var(--heading-h2-line-height);
    font-style: var(--heading-h2-font-style);
}
    
.blog-post-header .content-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
}
    
.blog-post-header .avatar {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

.blog-post-header .avatar-image {
    position: relative;
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 2rem;
}

.blog-post-header .content-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.blog-post-header .full-name {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "LaoMN";
    font-weight: var(--tagline-small-font-weight);
    color: var(--black);
    font-size: var(--tagline-small-font-size);
    letter-spacing: var(--tagline-small-letter-spacing);
    line-height: var(--tagline-small-line-height);
    font-style: var(--tagline-small-font-style);
}

.blog-post-header .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: "Zen Maru Gothic";
    font-weight: var(--text-small-regular-font-weight);
    color: var(--black);
    font-size: var(--text-small-regular-font-size);
    letter-spacing: var(--text-small-regular-letter-spacing);
    line-height: var(--text-small-regular-line-height);
    white-space: nowrap;
    font-style: var(--text-small-regular-font-style);
}
  
.blog-post-header .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--text-medium-regular-font-family);
    font-weight: var(--text-medium-regular-font-weight);
    color: var(--black);
    font-size: var(--text-medium-regular-font-size);
    letter-spacing: var(--text-medium-regular-letter-spacing);
    line-height: var(--text-medium-regular-line-height);
    white-space: nowrap;
    font-style: var(--text-medium-regular-font-style);
}

.blog-post-header .share-buttons {
    align-items: flex-start;
    gap: 8px;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
}

.blog-post-header .share-button {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-color: var(--light);
    border-radius: 64px;
    overflow: hidden;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
}

.blog-post-header .img {
    position: relative;
    width: 24px;
    height: 24px;
}
    
.blog-post-header .placeholder-image {
    position: relative;
    width: 1280px;
    height: 600px;
    object-fit: cover;
}
    
    
/* Content Layout */
.content-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    position: relative; 
}

.content-layout .content {
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.content-layout .column {
    display: flex;
    flex-direction: column;
    width: 320px;
    align-items: flex-start;
    gap: 16px;
    position: relative;
}

.content-layout .heading {
    position: relative;
    width: fit-content;
    font-family: "LaoMN";
    font-weight: var(--heading-h5-font-weight);
    color: var(--black);
    font-size: var(--heading-h5-font-size);
    letter-spacing: var(--heading-h5-letter-spacing);
    line-height: var(--heading-h5-line-height);
    white-space: nowrap;
    font-style: var(--heading-h5-font-style);
}

.content-layout .div {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.content-layout .local-nav {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 12px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--light);
}

.content-layout .text-wrapper {
    width: fit-content;
    font-family: var(--text-medium-bold-font-family);
    font-weight: var(--text-medium-bold-font-weight);
    font-size: var(--text-medium-bold-font-size);
    line-height: var(--text-medium-bold-line-height);
    white-space: nowrap;
    position: relative;
    margin-top: -1px;
    color: var(--black);
    letter-spacing: var(--text-medium-bold-letter-spacing);
    font-style: var(--text-medium-bold-font-style);
}

.content-layout .heading-wrapper {
    padding: 12px 32px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.content-layout .p {
    width: fit-content;
    margin-right: -17px;
    font-family: var(--text-medium-regular-font-family);
    font-weight: var(--text-medium-regular-font-weight);
    font-size: var(--text-medium-regular-font-size);
    line-height: var(--text-medium-regular-line-height);
    white-space: nowrap;
    position: relative;
    margin-top: -1px;
    color: var(--black);
    letter-spacing: var(--text-medium-regular-letter-spacing);
    font-style: var(--text-medium-regular-font-style);
}

.content-layout .div-wrapper {
    all: unset;
    box-sizing: border-box;
    padding: 12px 48px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.content-layout .heading-2 {
    width: fit-content;
    font-family: var(--text-medium-regular-font-family);
    font-weight: var(--text-medium-regular-font-weight);
    font-size: var(--text-medium-regular-font-size);
    line-height: var(--text-medium-regular-line-height);
    white-space: nowrap;
    position: relative;
    margin-top: -1px;
    color: var(--black);
    letter-spacing: var(--text-medium-regular-letter-spacing);
    font-style: var(--text-medium-regular-font-style);
}

.content-layout .button-2 {
    all: unset;
    box-sizing: border-box;
    padding: 12px 64px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.content-layout .heading-3 {
    width: fit-content;
    margin-right: -26px;
    font-family: var(--text-medium-regular-font-family);
    font-weight: var(--text-medium-regular-font-weight);
    font-size: var(--text-medium-regular-font-size);
    line-height: var(--text-medium-regular-line-height);
    white-space: nowrap;
    position: relative;
    margin-top: -1px;
    color: var(--black);
    letter-spacing: var(--text-medium-regular-letter-spacing);
    font-style: var(--text-medium-regular-font-style);
}

.content-layout .button-3 {
    all: unset;
    box-sizing: border-box;
    padding: 12px 80px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.content-layout .heading-4 {
    width: fit-content;
    margin-right: -72px;
    font-family: var(--text-medium-regular-font-family);
    font-weight: var(--text-medium-regular-font-weight);
    font-size: var(--text-medium-regular-font-size);
    line-height: var(--text-medium-regular-line-height);
    white-space: nowrap;
    position: relative;
    margin-top: -1px;
    color: var(--black);
    letter-spacing: var(--text-medium-regular-letter-spacing);
    font-style: var(--text-medium-regular-font-style);
}

.content-layout .rich-text {
    display: flex;
    flex-direction: column;
    width: 768px;
    align-items: flex-start;
    position: relative;
}

.content-layout .content-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.content-layout .heading-5 {
    align-self: stretch;
    font-family: var(--heading-h2-font-family);
    font-weight: var(--heading-h2-font-weight);
    font-size: var(--heading-h2-font-size);
    line-height: var(--heading-h2-line-height);
    position: relative;
    margin-top: -1px;
    color: var(--black);
    letter-spacing: var(--heading-h2-letter-spacing);
    font-style: var(--heading-h2-font-style);
}

.content-layout .paragraph {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--text-regular-bold-font-family);
    font-weight: var(--text-regular-bold-font-weight);
    color: var(--black);
    font-size: var(--text-regular-bold-font-size);
    letter-spacing: var(--text-regular-bold-letter-spacing);
    line-height: var(--text-regular-bold-line-height);
    font-style: var(--text-regular-bold-font-style);
}

.content-layout .paragraph-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Zen Maru Gothic";
    font-weight: var(--text-regular-regular-font-weight);
    color: var(--black);
    font-size: var(--text-regular-regular-font-size);
    letter-spacing: var(--text-regular-regular-letter-spacing);
    line-height: var(--text-regular-regular-line-height);
    font-style: var(--text-regular-regular-font-style);
}

.content-layout .content-3 {
    flex-direction: column;
    padding: 24px 0px;
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.content-layout .heading-6 {
    align-self: stretch;
    font-family: var(--heading-h3-font-family);
    font-weight: var(--heading-h3-font-weight);
    font-size: var(--heading-h3-font-size);
    line-height: var(--heading-h3-line-height);
    position: relative;
    margin-top: -1px;
    color: var(--black);
    letter-spacing: var(--heading-h3-letter-spacing);
    font-style: var(--heading-h3-font-style);
}

.content-layout .content-4 {
    flex-direction: column;
    padding: 24px 0px 20px;
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.content-layout .heading-7 {
    align-self: stretch;
    font-family: "LaoMN";
    font-weight: var(--heading-h4-font-weight);
    font-size: var(--heading-h4-font-size);
    line-height: var(--heading-h4-line-height);
    position: relative;
    margin-top: -1px;
    color: var(--black);
    letter-spacing: var(--heading-h4-letter-spacing);
    font-style: var(--heading-h4-font-style);
}

.content-layout .content-5 {
    flex-direction: column;
    gap: 8px;
    padding: 48px 0px;
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.content-layout .placeholder-image {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 480px;
    object-fit: cover;
}

.content-layout .caption-figure {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.content-layout .div-2 {
    position: relative;
    align-self: stretch;
    width: 2px;
    background-color: var(--black);
}

.content-layout .text-wrapper-2 {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: var(--text-small-regular-font-family);
    font-weight: var(--text-small-regular-font-weight);
    color: var(--black);
    font-size: var(--text-small-regular-font-size);
    letter-spacing: var(--text-small-regular-letter-spacing);
    line-height: var(--text-small-regular-line-height);
    font-style: var(--text-small-regular-font-style);
}

.content-layout .content-6 {
    flex-direction: column;
    padding: 20px 0px 16px;
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.content-layout .heading-8 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "LaoMN";
    font-weight: var(--heading-h5-font-weight);
    color: var(--black);
    font-size: var(--heading-h5-font-size);
    letter-spacing: var(--heading-h5-letter-spacing);
    line-height: var(--heading-h5-line-height);
    font-style: var(--heading-h5-font-style);
}

.content-layout .figure-wrapper {
    padding: 36px 0px;
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.content-layout .figure {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 0px 20px 0px 0px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #ffffff00;
}

.content-layout .quote {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: var(--text-large-medium-font-family);
    font-weight: var(--text-large-medium-font-weight);
    color: var(--inspired);
    font-size: var(--text-large-medium-font-size);
    letter-spacing: var(--text-large-medium-letter-spacing);
    line-height: var(--text-large-medium-line-height);
    font-style: var(--text-large-medium-font-style);
}

.content-layout .heading-9 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "LaoMN";
    font-weight: var(--heading-h6-font-weight);
    color: var(--black);
    font-size: var(--heading-h6-font-size);
    letter-spacing: var(--heading-h6-letter-spacing);
    line-height: var(--heading-h6-line-height);
    font-style: var(--heading-h6-font-style);
}

/* More articles section */
.blog-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 112px 64px;
    position: relative;
}

.blog-grid .title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.blog-grid .section-title {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 16px;
    position: relative;
}



.blog-grid .content {
    align-items: center;
    gap: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 0 auto;
}



.blog-grid .text {
    align-self: stretch;
    font-family: "Zen Maru Gothic";
    font-weight: 600;
    font-size: 20px;
    line-height: var(--text-medium-regular-line-height);
    position: relative;
    color: #13110f;
    letter-spacing: var(--text-medium-regular-letter-spacing);
    font-style: var(--text-medium-regular-font-style);
}

.blog-grid .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 30px;
}

.blog-grid .text-wrapper {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    font-family: var(--text-regular-link-font-family);
    font-weight: var(--text-regular-link-font-weight);
    color: var(--black);
    font-size: var(--text-regular-link-font-size);
    letter-spacing: var(--text-regular-link-letter-spacing);
    line-height: var(--text-regular-link-line-height);
    text-decoration: underline;
    white-space: nowrap;
    font-style: var(--text-regular-link-font-style);
}

.blog-grid .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

@media (max-width: 600px) {
    .blog-grid .row {
        display: grid;
        grid-template-columns: 1fr;
    }
  }

.blog-grid .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.blog-grid .placeholder-image {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 300px;
    object-fit: cover;
   
}

.blog-grid .div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.blog-grid .info {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

.blog-grid .container {
    display: inline-flex;
    align-items: flex-start;
    padding: 4px 8px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--light);
}

.blog-grid .text-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--text-regular-medium-font-family);
    font-weight: var(--text-regular-medium-font-weight);
    color: #13110f;
    font-size: var(--text-regular-medium-font-size);
    letter-spacing: var(--text-regular-medium-letter-spacing);
    line-height: var(--text-regular-medium-line-height);
    white-space: nowrap;
    font-style: var(--text-regular-medium-font-style);
}

.blog-grid .text-3 {
    width: fit-content;
    font-family: var(--text-small-bold-font-family);
    font-weight: var(--text-small-bold-font-weight);
    font-size: var(--text-small-bold-font-size);
    line-height: var(--text-small-bold-line-height);
    white-space: nowrap;
    position: relative;
    color: #13110f;
    letter-spacing: var(--text-small-bold-letter-spacing);
    font-style: var(--text-small-bold-font-style);
}

.blog-grid .content-2 {
    width: 363px;
    align-items: flex-start;
    gap: 8px;
    margin-right: -0.33px;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 0 auto;
}

.blog-grid .heading-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "LaoMN";
    font-weight: var(--heading-h5-font-weight);
    color: #13110f;
    font-size: var(--heading-h5-font-size);
    letter-spacing: var(--heading-h5-letter-spacing);
    line-height: var(--heading-h5-line-height);
    font-style: var(--heading-h5-font-style);
}

.blog-grid .p {
    align-self: stretch;
    font-family: "Zen Maru Gothic";
    font-weight: var(--text-regular-regular-font-weight);
    font-size: var(--text-regular-regular-font-size);
    line-height: var(--text-regular-regular-line-height);
    position: relative;
    color: #13110f;
    letter-spacing: var(--text-regular-regular-letter-spacing);
    font-style: var(--text-regular-regular-font-style);
}

.blog-grid .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: "Zen Maru Gothic";
    font-weight: 400;
    color: var(--black);
    font-size: var(--text-regular-link-font-size);
    letter-spacing: var(--text-regular-link-letter-spacing);
    line-height: var(--text-regular-link-line-height);
    text-decoration: underline;
    white-space: nowrap;
    font-style: var(--text-regular-link-font-style);
}

.blog-grid .icon-right {
    position: abolute;
    width: 18px;
    height: 18px;
}

.blog-grid .content-3 {
    width: 362px;
    align-items: flex-start;
    gap: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 0 auto;
}
    
    
/* Newsletter SignUp CTA*/
.breakpoint-desktop {
    display: flex;
    flex-direction: column;
 
    align-items: center;
    gap: 80px;
    padding: 112px 64px;
    position: relative;
    background-color: #ffffff;
}

.breakpoint-desktop .card {
    display: flex;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.breakpoint-desktop .column {
    display: flex;
    flex-direction: column;
    width: 678px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 48px 48px 11px;
    position: relative;
}

.breakpoint-desktop .content {
    display: flex;
    flex-direction: column;
    width: 530px;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.breakpoint-desktop .heading {
    position: relative;
    align-self: stretch;
    height: 114px;
    margin-top: -1px;
    font-family: var(--heading-h3-font-family);
    font-weight: var(--heading-h3-font-weight);
    color: var(--black);
    font-size: var(--heading-h3-font-size);
    letter-spacing: var(--heading-h3-letter-spacing);
    line-height: var(--heading-h3-line-height);
    font-style: var(--heading-h3-font-style);
}

.breakpoint-desktop .text {
    position: relative;
    align-self: stretch;
    font-family: "Zen Maru Gothic";
    font-weight: var(--text-medium-regular-font-weight);
    color: var(--black);
    font-size: 24px;
    letter-spacing: var(--text-medium-regular-letter-spacing);
    line-height: var(--text-medium-regular-line-height);
    font-style: var(--text-medium-regular-font-style);
}

.breakpoint-desktop .actions {
    display: flex;
    flex-direction: column;
    width: 530px;
    height: 158px;
    align-items: flex-start;
    gap: 16px;
    padding: 16px 0px 0px;
    position: relative;
}

.breakpoint-desktop .form {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.breakpoint-desktop .input-field {
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    flex-grow: 1;
    display: flex;
    position: relative;
}

.breakpoint-desktop .div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.breakpoint-desktop .input {
    align-items: center;
    gap: 8px;
    padding: 10px 14px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--black);
    box-shadow: var(--shadow-small);
    display: flex;
    position: relative;
}

.breakpoint-desktop .text-wrapper {
    position: relative;
    flex-grow: 1;
    border: none;
    background: none;
    flex: 1;
    margin-top: -1px;
    font-family: var(--text-regular-regular-font-family);
    font-weight: var(--text-regular-regular-font-weight);
    color: var(--collection-1-grey);
    font-size: var(--text-regular-regular-font-size);
    letter-spacing: var(--text-regular-regular-letter-spacing);
    line-height: var(--text-regular-regular-line-height);
    font-style: var(--text-regular-regular-font-style);
    padding: 0;
}

.breakpoint-desktop .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-left: -2px;
    margin-right: -2px;
    background-color: var(--empowered);
    border-radius: 30px 0px 30px 0px;
    border: 1px solid;
    box-shadow: var(--small);
    border-color: var(--empowered);
}

.breakpoint-desktop .button-2 {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Zen Maru Gothic-Bold", Helvetica;
    font-weight: 700;
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.breakpoint-desktop .by-clicking-sign-up {
    position: relative;
    align-self: stretch;
    font-family: "Zen Maru Gothic-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 12px;
    letter-spacing: 0;
    line-height: 18px;
}

.breakpoint-desktop .span {
    font-family: "Zen Maru Gothic";
    font-weight: var(--text-tiny-regular-font-weight);
    color: #13110f;
    font-size: var(--text-tiny-regular-font-size);
    letter-spacing: var(--text-tiny-regular-letter-spacing);
    line-height: var(--text-tiny-regular-line-height);
    font-style: var(--text-tiny-regular-font-style);
}

.breakpoint-desktop .text-wrapper-2 {
    text-decoration: underline;
    font-family: var(--text-tiny-link-font-family);
    font-style: var(--text-tiny-link-font-style);
    font-weight: var(--text-tiny-link-font-weight);
    letter-spacing: var(--text-tiny-link-letter-spacing);
    line-height: var(--text-tiny-link-line-height);
    font-size: var(--text-tiny-link-font-size);
}

.breakpoint-desktop .placeholder-image {
    position: relative;
    width: 474px;
    height: 425px;
    object-fit: cover;
}
