@import url(https://db.onlinewebfonts.com/c/6a1125d1f067e9d3977c713c0c44479a?family=FSP+DEMO+-+Imagist+Bold);
@import url(https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap);

body {
  font-family: "LaoMN", sans-serif;
  width: 1280px;
  
}

/* NAVBAR */
a {
  font-family: 'LaoMn', sans-serif;
  float: left;
  color: #13110F;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  color: #6650CD; 
}

ul {
  list-style-type: none;
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  margin-right: 0px;
}


nav {
  display: flex;
  align-items: center;
  padding: 24px;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  margin-right: 0px;
  width: 100%;
  background-color: #FFFAFD;
  color: #13110F;
  min-height: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 4px #b0b0b0;
}


/* BUTTONS */
.primary-button {
  display: inline-block;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  font-size: 24px;   
  text-align: center;
  text-decoration: none;
  cursor: pointer;  
  transition: background-color 0.3s, color 0.3s;
  all: unset;
}

.primary-button-text {
  padding: 12px 24px;
  position: relative;
  width: fit-content;
  font-weight: 700;
  letter-spacing: 0;
  all: unset;
  border: 1px solid #6650CD; 
  border-radius: 30px 0px 30px 0px;
  color: white;           
  background-color: #6650CD;   
  transition: background-color 0.3s, color 0.3s;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px #b0b0b0;
}

.primary-button .primary-button-text {
  padding: 12px 24px;
  font-size: 14px;
  font-family: "Zen-Maru Gothic", sans-serif;
  font-style: normal;  
  text-transform: uppercase;  
}

.secondary-button {
  display: inline-flex;
  padding: 12px 24px; 
  font-size: 16px;  
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  all: unset;
  border-radius: 30px 0px 30px 0px;
  color: #13110F;            
  background-color:  #FFFAFD;    
  transition: background-color 0.3s, color 0.3s;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px #b0b0b0;
}

.secondary-button-text {
  padding: 12px 24px;
  position: relative;
  width: fit-content;
  font-weight: 700;
  letter-spacing: 0;
  all: unset;
  border: 1px solid #13110F; 
  border-radius: 30px 0px 30px 0px;
  color: #13110F;           
  background-color: #FFFAFD;   
  transition: background-color 0.3s, color 0.3s;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px #b0b0b0;
}

.secondary-button .secondary-button-text {
  padding: 12px 24px;
  font-size: 14px;
  font-family: "Zen-Maru Gothic", sans-serif;
  font-style: normal;    
  text-transform: uppercase;
}

/* Hover effect */
.primary-button :hover {
  background-color:#13110F;   
  border-radius: 30px 0px 30px 0px;
  padding: 13px 25px;
}

.secondary-button :hover {
  background-color:#BBD561;   
  border-radius: 30px 0px 30px 0px;
  padding: 12px 24px;
}

/* COLORS */

/* TYPOGRAPHY */
.tagline-small {
  font-family: "LaoMN-Regular", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
  color:#6650CD;
}

h1 {
  font-family: "FSP DEMO - Imagist";
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 120%;
  font-style: normal;
}

h2 {
  font-family: "FSP DEMO - Imagist";
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 120%;
  font-style: normal;
}

h3 {
  font-family: "FSP DEMO - Imagist";
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 120%;
  font-style: normal;
}

h4 {
  font-family: "LaoMN", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 130%;
  font-style: normal;
}

h5 {
  font-family: "LaoMN", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 140%;
  font-style: normal;
}

h6 {
  font-family: "LaoMN", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 140%;
  font-style: normal;
}

p {
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 150%;
  font-style: normal;
}




/* FOOTER */

/* LAYOUT */

/* SHADOWS */

/* BORDERS */

/* Breakpoints */
  