:root {
    --black: #13110F;
    --white: #FFFAFD;
    --light: #EFEFEF;
    --grey: #B9B9B9;
    --feminine: #B2ADD7;
    --inspired: #7138A5;
    --empowered: #6650CD;
    --natural: #BBD561;
    --lavender: #E6E2FF;
    --error: #F55F5F;
    --tagline-large-font-family: "LaoMN-Regular", Helvetica;
    --tagline-large-font-weight: 400;
    --tagline-large-font-size: 32px;
    --tagline-large-letter-spacing: 0px;
    --tagline-large-line-height: 139.9999976158142%;
    --tagline-large-font-style: normal;
    --tagline-small-font-family: "LaoMN-Regular", Helvetica;
    --tagline-small-font-weight: 400;
    --tagline-small-font-size: 16px;
    --tagline-small-letter-spacing: 0px;
    --tagline-small-line-height: 150%;
    --tagline-small-font-style: normal;
    --heading-h1-font-family: "FSP DEMO - Imagist", Helvetica;
    --heading-h1-font-weight: 700;
    --heading-h1-font-size: 56px;
    --heading-h1-letter-spacing: 0px;
    --heading-h1-line-height: 120.00000476837158%;
    --heading-h1-font-style: normal;
    --heading-h2-font-family: "FSP DEMO - Imagist", Helvetica;
    --heading-h2-font-weight: 700;
    --heading-h2-font-size: 48px;
    --heading-h2-letter-spacing: 0px;
    --heading-h2-line-height: 120.00000476837158%;
    --heading-h2-font-style: normal;
    --heading-h3-font-family: "FSP DEMO - Imagist", Helvetica;
    --heading-h3-font-weight: 700;
    --heading-h3-font-size: 40px;
    --heading-h3-letter-spacing: 0px;
    --heading-h3-line-height: 139.9999976158142%;
    --heading-h3-font-style: normal;
    --heading-h4-font-family: "LaoMN-Regular", Helvetica;
    --heading-h4-font-weight: 400;
    --heading-h4-font-size: 32px;
    --heading-h4-letter-spacing: 0px;
    --heading-h4-line-height: 129.99999523162842%;
    --heading-h4-font-style: normal;
    --heading-h5-font-family: "LaoMN-Regular", Helvetica;
    --heading-h5-font-weight: 400;
    --heading-h5-font-size: 24px;
    --heading-h5-letter-spacing: 0px;
    --heading-h5-line-height: 139.9999976158142%;
    --heading-h5-font-style: normal;
    --heading-h6-font-family: "LaoMN-Regular", Helvetica;
    --heading-h6-font-weight: 400;
    --heading-h6-font-size: 20px;
    --heading-h6-letter-spacing: 0px;
    --heading-h6-line-height: 139.9999976158142%;
    --heading-h6-font-style: normal;
    --heading-h1-mobile-font-family: "FSP DEMO - Imagist", Helvetica;
    --heading-h1-mobile-font-weight: 700;
    --heading-h1-mobile-font-size: 40px;
    --heading-h1-mobile-letter-spacing: 0px;
    --heading-h1-mobile-line-height: 120.00000476837158%;
    --heading-h1-mobile-font-style: normal;
    --heading-h2-mobile-font-family: "FSP DEMO - Imagist", Helvetica;
    --heading-h2-mobile-font-weight: 700;
    --heading-h2-mobile-font-size: 36px;
    --heading-h2-mobile-letter-spacing: 0px;
    --heading-h2-mobile-line-height: 120.00000476837158%;
    --heading-h2-mobile-font-style: normal;
    --heading-h3-mobile-font-family: "FSP DEMO - Imagist", Helvetica;
    --heading-h3-mobile-font-weight: 700;
    --heading-h3-mobile-font-size: 32px;
    --heading-h3-mobile-letter-spacing: 0px;
    --heading-h3-mobile-line-height: 120.00000476837158%;
    --heading-h3-mobile-font-style: normal;
    --heading-h4-mobile-font-family: "LaoMN-Regular", Helvetica;
    --heading-h4-mobile-font-weight: 400;
    --heading-h4-mobile-font-size: 24px;
    --heading-h4-mobile-letter-spacing: 0px;
    --heading-h4-mobile-line-height: 139.9999976158142%;
    --heading-h4-mobile-font-style: normal;
    --heading-h5-mobile-font-family: "LaoMN-Regular", Helvetica;
    --heading-h5-mobile-font-weight: 400;
    --heading-h5-mobile-font-size: 20px;
    --heading-h5-mobile-letter-spacing: 0px;
    --heading-h5-mobile-line-height: 139.9999976158142%;
    --heading-h5-mobile-font-style: normal;
    --heading-h6-mobile-font-family: "LaoMN-Regular", Helvetica;
    --heading-h6-mobile-font-weight: 400;
    --heading-h6-mobile-font-size: 18px;
    --heading-h6-mobile-letter-spacing: 0px;
    --heading-h6-mobile-line-height: 139.9999976158142%;
    --heading-h6-mobile-font-style: normal;
    --text-large-light-font-family: "ZenMaru Gothic-Light", Helvetica;
    --text-large-light-font-weight: 300;
    --text-large-light-font-size: 20px;
    --text-large-light-letter-spacing: 0px;
    --text-large-light-line-height: 150%;
    --text-large-light-font-style: normal;
    --text-large-regular-font-family: "ZenMaru Gothic-Regular", Helvetica;
    --text-large-regular-font-weight: 400;
    --text-large-regular-font-size: 20px;
    --text-large-regular-letter-spacing: 0px;
    --text-large-regular-line-height: 150%;
    --text-large-regular-font-style: normal;
    --text-large-medium-font-family: "ZenMaru Gothic-Medium", Helvetica;
    --text-large-medium-font-weight: 500;
    --text-large-medium-font-size: 20px;
    --text-large-medium-letter-spacing: 0px;
    --text-large-medium-line-height: 150%;
    --text-large-medium-font-style: normal;
    --text-large-bold-font-family: "ZenMaru Gothic-Bold", Helvetica;
    --text-large-bold-font-weight: 700;
    --text-large-bold-font-size: 20px;
    --text-large-bold-letter-spacing: 0px;
    --text-large-bold-line-height: 150%;
    --text-large-bold-font-style: normal;
    --text-large-black-font-family: "ZenMaru Gothic-Black", Helvetica;
    --text-large-black-font-weight: 900;
    --text-large-black-font-size: 20px;
    --text-large-black-letter-spacing: 0px;
    --text-large-black-line-height: 150%;
    --text-large-black-font-style: normal;
    --text-large-link-font-family: "ZenMaru Gothic-Regular", Helvetica;
    --text-large-link-font-weight: 400;
    --text-large-link-font-size: 20px;
    --text-large-link-letter-spacing: 0px;
    --text-large-link-line-height: 150%;
    --text-large-link-font-style: normal;
    --text-medium-light-font-family: "ZenMaru Gothic-Light", Helvetica;
    --text-medium-light-font-weight: 300;
    --text-medium-light-font-size: 18px;
    --text-medium-light-letter-spacing: 0px;
    --text-medium-light-line-height: 150%;
    --text-medium-light-font-style: normal;
    --text-medium-regular-font-family: "ZenMaru Gothic-Regular", Helvetica;
    --text-medium-regular-font-weight: 400;
    --text-medium-regular-font-size: 18px;
    --text-medium-regular-letter-spacing: 0px;
    --text-medium-regular-line-height: 150%;
    --text-medium-regular-font-style: normal;
    --text-medium-medium-font-family: "ZenMaru Gothic-Medium", Helvetica;
    --text-medium-medium-font-weight: 500;
    --text-medium-medium-font-size: 18px;
    --text-medium-medium-letter-spacing: 0px;
    --text-medium-medium-line-height: 150%;
    --text-medium-medium-font-style: normal;
    --text-medium-bold-font-family: "ZenMaru Gothic-Bold", Helvetica;
    --text-medium-bold-font-weight: 700;
    --text-medium-bold-font-size: 18px;
    --text-medium-bold-letter-spacing: 0px;
    --text-medium-bold-line-height: 150%;
    --text-medium-bold-font-style: normal;
    --text-medium-black-font-family: "ZenMaru Gothic-Black", Helvetica;
    --text-medium-black-font-weight: 900;
    --text-medium-black-font-size: 18px;
    --text-medium-black-letter-spacing: 0px;
    --text-medium-black-line-height: 150%;
    --text-medium-black-font-style: normal;
    --text-medium-link-font-family: "ZenMaru Gothic-Regular", Helvetica;
    --text-medium-link-font-weight: 400;
    --text-medium-link-font-size: 18px;
    --text-medium-link-letter-spacing: 0px;
    --text-medium-link-line-height: 150%;
    --text-medium-link-font-style: normal;
    --text-regular-light-font-family: "ZenMaru Gothic-Light", Helvetica;
    --text-regular-light-font-weight: 300;
    --text-regular-light-font-size: 16px;
    --text-regular-light-letter-spacing: 0px;
    --text-regular-light-line-height: 150%;
    --text-regular-light-font-style: normal;
    --text-regular-regular-font-family: "ZenMaru Gothic-Regular", Helvetica;
    --text-regular-regular-font-weight: 400;
    --text-regular-regular-font-size: 16px;
    --text-regular-regular-letter-spacing: 0px;
    --text-regular-regular-line-height: 150%;
    --text-regular-regular-font-style: normal;
    --text-regular-medium-font-family: "ZenMaru Gothic-Medium", Helvetica;
    --text-regular-medium-font-weight: 500;
    --text-regular-medium-font-size: 16px;
    --text-regular-medium-letter-spacing: 0px;
    --text-regular-medium-line-height: 150%;
    --text-regular-medium-font-style: normal;
    --text-regular-bold-font-family: "ZenMaru Gothic-Bold", Helvetica;
    --text-regular-bold-font-weight: 700;
    --text-regular-bold-font-size: 16px;
    --text-regular-bold-letter-spacing: 0px;
    --text-regular-bold-line-height: 150%;
    --text-regular-bold-font-style: normal;
    --text-regular-black-font-family: "ZenMaru Gothic-Black", Helvetica;
    --text-regular-black-font-weight: 900;
    --text-regular-black-font-size: 16px;
    --text-regular-black-letter-spacing: 0px;
    --text-regular-black-line-height: 150%;
    --text-regular-black-font-style: normal;
    --text-regular-link-font-family: "ZenMaru Gothic-Regular", Helvetica;
    --text-regular-link-font-weight: 400;
    --text-regular-link-font-size: 16px;
    --text-regular-link-letter-spacing: 0px;
    --text-regular-link-line-height: 150%;
    --text-regular-link-font-style: normal;
    --text-small-light-font-family: "ZenMaru Gothic-Light", Helvetica;
    --text-small-light-font-weight: 300;
    --text-small-light-font-size: 14px;
    --text-small-light-letter-spacing: 0px;
    --text-small-light-line-height: 150%;
    --text-small-light-font-style: normal;
    --text-small-regular-font-family: "ZenMaru Gothic-Regular", Helvetica;
    --text-small-regular-font-weight: 400;
    --text-small-regular-font-size: 14px;
    --text-small-regular-letter-spacing: 0px;
    --text-small-regular-line-height: 150%;
    --text-small-regular-font-style: normal;
    --text-small-medium-font-family: "ZenMaru Gothic-Medium", Helvetica;
    --text-small-medium-font-weight: 500;
    --text-small-medium-font-size: 14px;
    --text-small-medium-letter-spacing: 0px;
    --text-small-medium-line-height: 150%;
    --text-small-medium-font-style: normal;
    --text-small-bold-font-family: "ZenMaru Gothic-Bold", Helvetica;
    --text-small-bold-font-weight: 700;
    --text-small-bold-font-size: 14px;
    --text-small-bold-letter-spacing: 0px;
    --text-small-bold-line-height: 150%;
    --text-small-bold-font-style: normal;
    --text-small-black-font-family: "ZenMaru Gothic-Black", Helvetica;
    --text-small-black-font-weight: 900;
    --text-small-black-font-size: 14px;
    --text-small-black-letter-spacing: 0px;
    --text-small-black-line-height: 150%;
    --text-small-black-font-style: normal;
    --text-small-link-font-family: "ZenMaru Gothic-Regular", Helvetica;
    --text-small-link-font-weight: 400;
    --text-small-link-font-size: 14px;
    --text-small-link-letter-spacing: 0px;
    --text-small-link-line-height: 150%;
    --text-small-link-font-style: normal;
    --text-tiny-light-font-family: "ZenMaru Gothic-Light", Helvetica;
    --text-tiny-light-font-weight: 300;
    --text-tiny-light-font-size: 12px;
    --text-tiny-light-letter-spacing: 0px;
    --text-tiny-light-line-height: 150%;
    --text-tiny-light-font-style: normal;
    --text-tiny-regular-font-family: "ZenMaru Gothic-Regular", Helvetica;
    --text-tiny-regular-font-weight: 400;
    --text-tiny-regular-font-size: 12px;
    --text-tiny-regular-letter-spacing: 0px;
    --text-tiny-regular-line-height: 150%;
    --text-tiny-regular-font-style: normal;
    --text-tiny-medium-font-family: "ZenMaru Gothic-Medium", Helvetica;
    --text-tiny-medium-font-weight: 500;
    --text-tiny-medium-font-size: 12px;
    --text-tiny-medium-letter-spacing: 0px;
    --text-tiny-medium-line-height: 150%;
    --text-tiny-medium-font-style: normal;
    --text-tiny-bold-font-family: "ZenMaru Gothic-Bold", Helvetica;
    --text-tiny-bold-font-weight: 700;
    --text-tiny-bold-font-size: 12px;
    --text-tiny-bold-letter-spacing: 0px;
    --text-tiny-bold-line-height: 150%;
    --text-tiny-bold-font-style: normal;
    --text-tiny-black-font-family: "ZenMaru Gothic-Black", Helvetica;
    --text-tiny-black-font-weight: 900;
    --text-tiny-black-font-size: 12px;
    --text-tiny-black-letter-spacing: 0px;
    --text-tiny-black-line-height: 150%;
    --text-tiny-black-font-style: normal;
    --text-tiny-link-font-family: "ZenMaru Gothic-Regular", Helvetica;
    --text-tiny-link-font-weight: 400;
    --text-tiny-link-font-size: 12px;
    --text-tiny-link-letter-spacing: 0px;
    --text-tiny-link-line-height: 150%;
    --text-tiny-link-font-style: normal;
    --xxsmall: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    --xsmall: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    --small: 0px 2px 4px -2px rgba(0, 0, 0, 0.06), 0px 4px 8px -2px rgba(0, 0, 0, 0.2);
    --medium: 0px 4px 6px -2px rgba(0, 0, 0, 0.03), 0px 12px 16px -4px rgba(0, 0, 0, 0.08);
    --large: 0px 10px 8px -4px rgba(0, 0, 0, 0.2), 0px 10px 24px -4px rgba(0, 0, 0, 0.2);
    --xlarge: 0px 24px 48px -12px rgba(0, 0, 0, 0.18);
    --xxlarge: 0px 32px 64px -12px rgba(0, 0, 0, 0.14);
    --collection-1-grey: rgba(185, 185, 185, 1);
}
